select.round_up_rank {
	display			: inline;
    width			: initial !important;
}
select.round_up_charity {
	display			: inline;
	width			: initial !important;
}

span.roundUpAmount {
	display			: none;
	margin-left		: 20px;
	color			: #21a117;
}
#round_up_info_div {
    text-decoration: underline;
}
